{% extends 'movies/fragments/base.html' %}
{% block main-content %}
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card">
                <div class="card-image">
                    <img src="{{ movie.image.url }}" height="400px" style="object-fit: cover;">
                </div>
                <div class="card-content">
                    <span class="card-title">Título de la Tarjeta</span>
                    <p><b>Fecha de lanzamiento:</b> {{ movie.release_date }}</p>
                    <p><b>Categoria: </b> {{ movie.category }}</p>
                    <p><b>Descripcion: </b>{{ movie.description }}</p>
                    <p><b>Creada: </b>{{ movie.created }}</p>
                    <p><b>Ultima actualizacion: </b>{{ movie.updated }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ movie.get_edit_url }}">Editar</a>
                    <a href="{{ movie.get_delete_url }}">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}