<h1>Crear Mascota</h1>

<form method="post">
    {% csrf_token %}

    Nombre: 
    <input type="text" name="nombre" required><br>

    Edad:<br>

    Años: 
    <input type="number" name="edad_anios" min="0" max="100" step="1" required><br>

    Meses: 
    <input type="number" name="edad_meses" min="0" max="11" step="1" required><br>

    Días: 
    <input type="number" name="edad_dias" min="0" max="30" step="1" required><br>

    Tipo: 
    <input type="text" name="tipo" required><br>

    <button type="submit">Guardar</button>
</form>